{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}

<div class="row">
  <h5>Использовались технологии:</h5>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django Framework
      </li>
      <li class="list-group-item">
        Git
      </li>
      <li class="list-group-item">
        HTML 
      </li>
      <li class="list-group-item">
        SQLite
      </li>
      <li class="list-group-item">
        CSS
      </li>
      <li class="list-group-item">
        Unittest
      </li>
      <li class="list-group-item">
        Pythonanywhere
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Всё это использовалось при создании сайта, на котором вы сейчас находитесь. 
      <br>
      Надеюсь в недалеком будущем список используемых мною технологий пополнится в разы, как и опыт работы с ними.</p>
  </article>
</div>
{% endblock %}
